
# linters such as flake8 and pylint should be pinned, as new releases
# make new things fail. Manually update these pins when pulling in a
# new version

aioresponses
algoliasearch==2.2.0
codecov
coverage>=5.2.0,<=5.3.0
mypy
pytest-cov
typing-extensions==3.7.4.1

# BLE montitor requirements
pycryptodomex==3.10.1
janus==0.6.1
aioblescan==0.2.8
