# Welcome to Jekyll!
#
# This config file is meant for settings that affect your whole blog, values
# which you are expected to set up once and rarely edit after that. If you find
# yourself editing this file very often, consider using Jekyll's data files
# feature for the data you need to update frequently.
#
# For technical reasons, this file is *NOT* reloaded automatically when you use
# 'bundle exec jekyll serve'. If you change this file, please restart the server process.
#
# If you need help with YAML syntax, here are some quick references for you:
# https://learn-the-web.algonquindesign.ca/topics/markdown-yaml-cheat-sheet/#yaml
# https://learnxinyminutes.com/docs/yaml/
#
# Site settings
# These are used to personalize your new site. If you look in the HTML files,
# you will see them accessed via {{ site.title }}, {{ site.email }}, and so on.
# You can create any custom variable you would like, and they will be accessible
# in the templates via {{ site.myvariable }}.



title: Passive BLE Monitor integration
description: >- # this means to ignore newlines until "baseurl:"
  Passively monitors BLE messages from Xiaomi Mijia BLE MiBeacon, Qingping, ATC,
  Xiaomi Scale, Kegtron and Thermoplus sensors.

# Build settings
# theme: just-the-docs
remote_theme: pmarsceill/just-the-docs

aux_links:
  "Passive BLE Monitor integration on GitHub":
    - "//github.com/custom-components/ble_monitor"
# Makes Aux links open in a new tab. Default is false
aux_links_new_tab: true

baseurl: /ble_monitor

# Enable or disable the site search
# Supports true (default) or false
search_enabled: true
search:
  # Split pages into sections that can be searched individually
  # Supports 1 - 6, default: 2
  heading_level: 2
  # Maximum amount of previews per search result
  # Default: 3
  previews: 2
  # Maximum amount of words to display before a matched word in the preview
  # Default: 5
  preview_words_before: 3
  # Maximum amount of words to display after a matched word in the preview
  # Default: 10
  preview_words_after: 3
  # Set the search token separator
  # Default: /[\s\-/]+/
  # Example: enable support for hyphenated search words
  tokenizer_separator: /[\s/]+/
  # Display the relative url in search results
  # Supports true (default) or false
  rel_url: true
  # Enable or disable the search button that appears in the bottom right corner of every page
  # Supports true or false (default)
  button: false

excerpt_separator: ""
# Footer last edited timestamp
last_edit_timestamp: true # show or hide edit time - page must have `last_modified_date` defined in the frontmatter
last_edit_time_format: "%b %e %Y at %I:%M %p" # uses ruby's time format: https://ruby-doc.org/stdlib-2.7.0/libdoc/time/rdoc/Time.html

collections:
  devices:
    permalink: "/:collection/:path/"
    output: true

request_new_devices_msg: '<div class="request_new_devices_msg"><div class="open-issue">Support for additional sensors can be requested by <a href="https://github.com/custom-components/ble_monitor/issues">opening an issue</a>.</div><div>Check the <a href="sensor_request">Senor Request page</a> on how to provide usefull information for adding new sensors.</div></div>'
